* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 135px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-color: rgb(208, 239, 163);
    padding: 20px;
    border-radius:39px;
    box-shadow: 0 4px 8px rgb(54, 5, 151);

}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-size: 50px;
    font-weight: 450;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.text-section h3 {
    font-size: 16px;
    font-weight: 450;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
}

.text-section p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.text-section p1 {
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 900;
    line-height: 1.6;
}   


.text-section p2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 900;
    /* line-height: 1.6; */
}   


.text-section p3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 900;
    line-height: 1.6;
}   

.image-section img {
    /* max-width: 100%; */
    width: 390px;
    height: 330px;
    border-radius: 27%;

}

.btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3c5ab6;
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 65%;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }
    
    .btn:hover {
        background-color: #e60032d6;
        cursor: pointer;
    }
